* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************ Begin Form style ***********/
body {
  font-family: sans-serif;
  font-size: 10px;
  background-color: #1b3d5d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  background: rgba(255, 255, 255, 0.82);
  padding: 4em 4em 2em;
  margin: 10px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
  height: 92vh;
  display: flex;
  flex-direction: column;
}
h2 {
  margin: 0 0 30px 0;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: darken(#e5e5e5, 50%);
  border-bottom: solid 1px #e5e5e5;
}
div {
  padding: 11px;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin: 0;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  background: #fff;
  border: 1px solid #bbb4b4;
  font-size: 1.3em;
  border-radius: 2px;
  padding: 6px;
  height: 4vh;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: #d46e0e solid 1px;
}

label {
  color: rgb(44, 41, 41);
  font-size: 15px;
}

#submit {
  height: 7vh;
  background-color: #d46e0e;
  color: rgb(255 255 255 / 82%);
  border: none;
  font-size: 18px;
  border-radius: 1.1px;
  font-weight: bold;
  margin-top: 9px;
}

.check {
  display: flex;
  font-size: 11px;
}

.log {
  margin-left: 9px;
}

@media only screen and (max-width: 1024px) {
  form {
    height: 95vh;
  }
  div {
    padding: 9px;
  }
  #submit {
    font-size: 15px;
    margin-top: 9px;
  }
}

.login-form {
  height: 63vh;
}
/************ End Form style ***********/
