* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dae0e6;
}

/************ Begin header style ***********/

.header {
  height: 8vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.header-logo-container {
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 1.5%;
}

.header-logo {
  height: 6vh;
  padding: 0.5%;
}

.header-buttons-container {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-style {
  width: 27%;
  height: 5vh;
  border-radius: 17px;
  font-size: 15px;
  font-weight: bold;
}

#Sign-up {
  background-color: #b1d0db;
  color: white;
  border: none;
}

#log-in {
  background-color: white;
  border: 1px solid #2596be;
  color: #2596be;
}

.button-decoration {
  text-decoration: none;
}

#Sign-up:hover {
  background-color: #45aed4;
}

#log-in:hover {
  background-color: #e4f1f7;
}
/************ End header style ***********/

/*************Start Trending today style *********/

#page-content {
  display: flex;
  flex-direction: column;
  height: 65vh;
}
.trending_today_container {
  padding: 2%;
  margin-left: 12%;
  height: 39vh;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.trending {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 1%;
}

#trending-image {
  height: 28vh;
  width: 17vw;
  border-radius: 13px;
}

/*************Start Popular posts style *********/
.popular-posts-container {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-between;
}
#popular-posts {
  margin-top: 2%;
  margin-left: 14%;
}

.static-container {
  background: white;
  height: 10vh;
  width: 44%;
  margin-left: 14%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hot {
  border-radius: 42px;
  width: 17%;
  border: none;
  color: #2596be;
  height: 6vh;
  font-weight: 800;
}

.top {
  border: none;
  background: #fff;
  color: rgb(129, 126, 126);
}
/*************Start Post container style *********/

.user-profile {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  background: #fff;
}

.posts-container {
  height: 36vh;
  padding: 3%;
}

.post-container {
  background: rgb(255, 255, 255);
  height: 26vh;
  width: 42%;
  border: solid 1px #bbb2b2;
  display: flex;
  margin-left: 10%;
}

#post-container {
  display: flex;
  width: 38vw;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.area-post {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.add-post {
  height: 26%;
  width: 8%;
  border: none;
  background: #fff;
}

.fas {
  font-size: 29px;
}

/*************End Post container style *********/

/*************Start Poster container style *********/
.container-posts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5%;
  height: auto;
}
.postt-container {
  width: 50%;
  border: solid 1px #b7b4b4;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  border: none;
}

.small-container{
  background-color: rgb(237 239 241);
  height: auto;
  margin-top: 25px;
}

.image{
  height: 18vh;
  width: 14vw;
  margin-top: 4%;
}

.title{
  font-size: 22px;
  font-family: fantasy;
  margin-top: 6%;
}

.username{
  font-family: monospace;
}

.butttons-container{
  background-color: rgb(237 239 241);
  display: flex;
}

.CommentFormContainer{
  font-family:sans-serif;
  font-size:1.2em;
}

/*****************************************************/
