* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dae0e6;
}

/************ Begin header style ***********/

.header {
  height: 8vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.header-logo-container {
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 1.5%;
}

.header-logo {
  height: 6vh;
  padding: 0.5%;
}

.header-buttons-container {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-style {
  width: 27%;
  height: 5vh;
  border-radius: 17px;
  font-size: 15px;
  font-weight: bold;
}

#Sign-up {
  background-color: #b1d0db;
  color: white;
  border: none;
}

#log-in {
  background-color: white;
  border: 1px solid #2596be;
  color: #2596be;
}

.button-decoration{
  text-decoration: none;
}

#Sign-up:hover {
  background-color: #45aed4;
}

#log-in:hover {
  background-color: #e4f1f7;
}
/************ End header style ***********/

/*************Start Trending today style *********/
.trending_today_container{
  height: 7vh;
  padding: 2%;
  margin-left: 12%;
}

h5{
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

/*************Start Post container style *********/

.user-profile{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  background: #fff;
}

.posts-container{
  height: 36vh;
  padding: 3%;
}

.post-container{
  background: rgb(255, 255, 255);
  height: 26vh;
  width: 42%;
  border: solid 1px #bbb2b2;
  display: flex;
  margin-left: 10%;
}

#post-container{
  display: flex;
  width: 38vw;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.area-post{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.add-post{
  height: 26%;
  width: 8%;
  border: none;
  background: #fff;
}

.fas{
  font-size: 29px;
}

/*************End Post container style *********/

/*************Start Poster container style *********/
.poster-container{
  background-color: blue;
  height: 44vh;
  width: 40%;
  border: solid 1px #b7b4b4;
  background: #fff;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
}

#post-image{
  height: 26vh;
  width: 26vh;
}

/*****************************************************/